<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
        <div class="header">
                
                    <img class="logo" src="https://img.freepik.com/free-vector/education-logo-vector-design_474888-2129.jpg"/>
                    <span class="heading">Teacher Recruitment System</span>
               
                <div class="navbar">
                    <ul>
                        <li><a href="#">Home | Admin Panel</a></li>
                        
                    </ul>

                </div>
        </div>
        

        <div class="login-container">

            <center>Admin Login Form <br>
                <span style="color:red; font-size:18px "><%=message%></span>
                <form action="/admin/adminLogin" method="post">

                    <input class="input" type="email" placeholder="enter your mail" id="email" name="email"/><br>
                    <input class="input"  type="password" placeholder="enter your password" id="password" name="password"/><br>
                    <input class="inputbtn" type="submit" value="Login"/><br>
                    <input class="inputbtn" type="reset" value="Reset"/><br>
                </form>
        </center>
        </div>
    
   
</body>
</html>