<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
        <div class="header">
                
                    <img class="logo" src="https://img.freepik.com/free-vector/education-logo-vector-design_474888-2129.jpg"/>
                    <span class="heading">Teacher Recruitment System | Admin Panel</span>
                    <p>Welcome <%=email%> </p>
               
                <div class="navbar">
                    <ul>
                        
                        <li><a href="/admin/adminHome">Home</a></li>
                        <li><a href="#">Candidate</a></li>
                        <li><a href="/admin/adminRecruiterList">Recruiter</a></li>
                        <li><a href="#">Vacancy</a></li>
                        <li><a href="#">Applied Candidate</a></li>
                        <li><a href="#">Account</a></li>
                        <li><a href="/admin/adminLogout">Logout</a></li>
                    </ul>

                </div>
        </div>
       
</body>
</html>