<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('./homeHeader.ejs')%>

        <div class="login-container">

            <center>Recruiter Login Form
                <form action="">

                    <input class="input" type="email" placeholder="enter your mail" id="email" name="email"/><br>
                    <input class="input"  type="password" placeholder="enter your password" id="password" name="password"/><br>
                    
                    <input class="inputbtn" type="submit" value="Login"/><br>
                    <input class="inputbtn" type="reset" value="Reset"/><br>
                </form>
                 <a href="/recruiter/recruiterRegistration">Not Register ?  Register</a>
        </center>
        </div>
    
   
</body>
</html>